/*menu para las siguientes paginas*/
.barra2 {
  list-style-type: none;
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.959);
  text-decoration: none; }

.barra3 {
  padding: 10px;
  background-color: #04a843;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.barra3 ul {
  list-style-type: none; }

.barra3 ul li {
  background-color: rgba(9, 107, 0, 0.582);
  display: inline-block;
  padding: 18px;
  margin: 30px; }

/*Estilos principales del css*/
.imagenfondo {
  background-image: url(../img/fondo-index.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.tam4 {
  background-color: #02441b;
  text-align: right;
  padding: 0px;
  margin: 0.5px;
  font-size: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  align-items: center;
  color: #efefef;
  margin: 1px; }

div img {
  max-width: 400px;
  max-height: 600px;
  align-items: center;
  justify-content: center;
  padding: 10px; }

.navbar {
  padding: 10px;
  background-color: #04a843;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

nav ul {
  list-style-type: none; }

nav ul li {
  display: inline-block;
  padding: 50px;
  margin: 13px; }

.barra {
  list-style-type: none;
  color: white;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  text-shadow: 1px 1px black;
  text-decoration: none; }

/* main de mi navegador*/
.importantisimo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.importante {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  /*margin: 100px;*/ }

.importante h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  color: #efefef;
  background-color: rgba(2, 68, 27, 0.597);
  padding: 25px;
  margin: 3px; }

.importante p {
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(0, 107, 41, 0.597);
  text-align: justify;
  margin-left: 1100px;
  margin-right: 10px;
  color: #efefef; }

/*fondo de pantalla*/
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

#fondo {
  width: 4000px;
  height: 100vh;
  min-height: 150vh;
  background-image: url(file:///C:/Users/Pc/Documents/proyecto/img/imagen%20de%20fondo.jpg); }

/*----------------------------------
------------------------------------
------------NOSOTROS-----------------
-------------------------------------
-------------------------------------
*/
/*quienes somos */
h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 45px;
  color: #0f1b13;
  text-align: center; }

.nosotros {
  background-color: #c7c6c6;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center; }

.trans {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  text-align: justify;
  color: #223829;
  margin: 20px; }

.imgnosotros {
  height: 550px;
  margin: 20px; }

/*----------------------------------
------------------------------------
------------Servicios-----------------
-------------------------------------
-------------------------------------
*/
.servicios {
  background-color: #03350394;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center; }

.escolar {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  text-align: justify;
  color: #f2f7f4;
  margin: 20px; }

.imgnosotros {
  width: 300px;
  height: 250px;
  transform: perspective(500px) rotateY(150deg); }

/*----------------------------------
------------------------------------
------------VEHICULOS-----------------
-------------------------------------
-------------------------------------
*/
.figure {
  margin: 1px; }

figcaption {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #223829; }

.vehiculos {
  height: 110vh;
  background-color: #06501d4b;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px 400px;
  margin: 1px;
  padding: 50px;
  align-items: center;
  justify-items: center; }

.biblio {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out; }

.biblio:hover {
  transform: scale(1.1); }

/*----------------------------------
------------------------------------
------------Contacto-----------------
-------------------------------------
-------------------------------------
*/
.input {
  background-color: #05a036;
  display: flex;
  align-items: center;
  justify-content: center; }

form {
  background-color: #c7c6c6;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.formulario {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  text-align: justify;
  color: #223829;
  margin: 20px; }

.contacto2 {
  background-color: #06501d4b;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0px 100px;
  padding: 70px;
  justify-content: center;
  text-align: center;
  align-items: start;
  justify-items: stretch; }

/*pie de pagina*/
.pie-pagina {
  background-color: #04a843;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #c7c6c6; }

#red-social img {
  height: 35px; }

.pie-pagina .grupo-1 {
  background-color: #02441b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.pie-pagina .grupo-1 a img {
  height: 40px; }

.pie-pagina .grupo-1 .box {
  text-align: center;
  margin: 0px 30px; }

.pie-pagina .box {
  display: flex;
  flex-direction: column;
  align-items: stretch; }

h2 {
  display: block;
  font-size: 0.8em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold; }

p {
  display: block;
  font-size: 0.7em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; }

.small, small {
  font-size: 0.6em; }

/*----------------------------------
------------------------------------
------------Media quaries-----------------
-------------------------------------
-------------------------------------
*/
@media screen and (max-width: 1024px) {
  nav {
    display: flex;
    flex-direction: column;
    margin: auto; }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
  nav ul li {
    display: inline-block;
    padding: 10px;
    /* margin: 0.5px; */ }
  .importante p {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 107, 41, 0.597);
    padding: 15px;
    text-align: justify;
    margin-left: 0px;
    color: #efefef; }
  .importante {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    align-content: stretch;
    flex-wrap: nowrap;
    justify-content: center; }
  .nosotros {
    display: grid;
    flex-direction: column;
    justify-content: center; }
  .kia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .vehiculos {
    height: auto;
    grid-template-columns: repeat(2, 1fr); }
  .transporte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .servicios {
    display: flex;
    flex-direction: column; }
  .trans {
    text-align: center; }
  .escolar {
    text-align: center; }
  .two ul li {
    padding: 10px;
    margin: 6px; } }

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-direction: row; } }

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1900px; } }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row; } }

@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row !important; }
  .flex-column {
    flex-direction: column !important; }
  .d-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap; } }

@media (max-width: 768px) {
  .flex-md-row {
    flex-direction: column !important; } }

@media screen and (max-width: 600px) {
  .vehiculos {
    height: auto;
    grid-template-columns: repeat(1, 1fr); } }

/*----------------------------------
------------------------------------
------------boostrap-----------------
-------------------------------------
-------------------------------------
*/
.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px black;
  text-decoration: none;
  display: block;
  color: #f8f9fa;
  text-decoration: none; }

.nav-link {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px black;
  text-decoration: none;
  display: block;
  color: #f8f9fa;
  text-decoration: none; }
