/*----------------------------------
------------------------------------
------------Contacto-----------------
-------------------------------------
-------------------------------------
*/

form{

    @include flex;
    background-color:$color-fondo2;
    max-width: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    .formulario{

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: $spacing*3;
        text-align: justify;
        color:$color-text;
        margin:  $spacing*4;
       
    }
    
    input{

        background-color:$color-blanco;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.contacto2{
        
       
    background-color:$color-fondo1;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 0px 100px;
    padding: $spacing*14;
    justify-content: center;
    text-align: center;
    align-items: start;
    justify-items: stretch;

}
