/*pie de pagina*/

.pie-pagina{
    
    @include flex;
    background-color:  $color-primario ;
    align-items: center;
    width: 100%;
    color:$color-lighttext;
    
    #red-social img {
        height: 35px;
    }
    
    .grupo-1{
        
        @include filas;
        background-color: $color-secundario;
        align-items: center;
        justify-content: space-between;
    }
    
    .grupo-1 a img{
    height: 40px;
    }
    
    .grupo-1 .box{
        text-align: center;
        margin: 0px 30px;
    }
    
    .box {
    
        @include flex;
        align-items: stretch;
    }
    
}

h2 {
    display: block;
    font-size: 0.8em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    font-size: 0.7em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.small, small {
    font-size: 0.6em;
}
