/*fondo solo para mi inicio*/
.imagenfondo{
    background-image: url(../img/fondo-index.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

.tam4 {
    background-color: rgb(2, 68, 27);
    text-align: right;
    padding: 0px;
    margin: 0.5px;
    font-size: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    align-items: center;
    color: #efefef;
    margin: 1px;
}

/* main de mi navegador*/
.importantisimo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .importante{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
    
    }
    
    h1 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 3rem;
        color: #efefef;
        background-color: rgba(2, 68, 27, 0.597);
        padding: 25px;
        margin: 3px;
    }

    p {
        font-size: 2rem;
        font-family: 'Courier New', Courier, monospace;
        background-color: rgba(0, 107, 41, 0.597);
        text-align: justify;
        margin-left: 1100px;
        margin-right: 10px;
        color: #efefef;
    }
}
