
/*fondo solo para mi inicio*/
.imagenfondo{
    background-image: url(../img/fondo-index.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

.tam4 {
    background-color:$color-secundario;
    text-align: right;
    padding: 0px;
    margin: 0.5px;
    font-size: $spacing*2;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    align-items: center;
    color: #efefef;
    margin: 1px;
}

/*mixin*/
@mixin flex {
    display: flex;
    flex-direction: column;
    
}

@mixin filas{

    display: flex;
    flex-direction: row;
}


    /* main de mi navegador*/
.importantisimo{
    @include flex;
    align-items: center;
    justify-content: center;

    .importante{
        
        @include flex;
        justify-content: flex-end;
        align-items: flex-end;
        
    
    }
    
    h1 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 2rem;
        color:$color-lighttext;
        background-color: $color-main;
        padding: $spacing*5;
        margin: 3px;
    }

    p {
        font-size: 2rem;
        font-family: 'Courier New', Courier, monospace;
        background-color: $color-main;
        text-align: justify;
        margin-left: 1100px;
        margin-right:$spacing*2;
        color: $color-lighttext;
    }
}
