/*mixin*/
@mixin filas{

    display: flex;
    flex-direction: row;
}
/*estilos de mi navegador con el logo*/

.navbar{   
    
    @include filas;
    padding: $spacing*4;
    background-color: $color-primario;
    justify-content: space-around;
    align-items: center;

    nav ul{

        list-style-type: none;
    }
    
}


nav ul li {
    display: inline-block;
    padding: $spacing*3;
    margin: $spacing*1;
}

div img {
    max-width: $spacing*80;
    max-height: $spacing*120;
    align-items: center;
    justify-content: center;
    padding: $spacing*2;
}
