/*----------------------------------
------------------------------------
------------NOSOTROS-----------------
-------------------------------------
-------------------------------------
*/
/*quienes somos */

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: $spacing*9;
    color: $color-h1;
    text-align: center;
}

.nosotros{
    
    @include filas; 
    background-color:$color-fondo2;
    max-width: 100%;
    width: 100%;
    align-content: center;
    justify-content: space-around;
    align-items: center;

    .trans{
    
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: $spacing*3;
        text-align: justify;
        color:$color-text;
        margin:  $spacing*4;
       
    
    }

}

.habalados{

    background-color: $color-primario;
}

.imgnosotros{
    height: $spacing*110;
    margin:  $spacing*4;
}
