/*----------------------------------
------------------------------------
------------NOSOTROS-----------------
-------------------------------------
-------------------------------------
*/
/*quienes somos */

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    color: #0f1b13;
    text-align: center;
}

.nosotros{
    
    background-color: #c7c6c6;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;

    .trans{
    
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 15px;
        text-align: justify;
        color: #223829;
        margin:  20px;
       
    
    }
}

.imgnosotros{
    height: 550px;
    margin:  20px;
}
