/*----------------------------------
------------------------------------
------------Servicios-----------------
-------------------------------------
-------------------------------------
*/

.servicios{

    @include filas;
    background-color: $color-fondo1;
    max-width: 100%;
    width: 100%;
    align-content: center;
    justify-content: space-around;
    align-items: center;

    .escolar{

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: $spacing*3;
        text-align: justify;
        color:$color-lighttext ;
        margin:  $spacing*4;
    
    }

}

.imgnosotros{

    width: $spacing*60;
    height: $spacing*50;
    transform: perspective(500px) rotateY(150deg);
}