/*colores*/
$color-primario:rgb(4, 168, 67);
$color-secundario:  #02441b;
$color-main:rgba(2, 68, 27, 0.597);
$color-blanco:white;
$color-text:rgb(0, 12, 3);
$color-h1:black;
$color-lighttext:  #fffafa;
$color-fondo1: #03350394;
$color-fondo2: #b1b1b1;
$spacing: 5px;
