/*----------------------------------
------------------------------------
------------VEHICULOS-----------------
-------------------------------------  
-------------------------------------
*/

.vehiculos {
    height: 110vh;
    background-color:$color-fondo1;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 300px 400px;
    margin: 1px;
    padding: $spacing*10;
    align-items: center;
    justify-items: center;

    .figure{
     
        margin: 1px;
    }
    
    figcaption{
    
        font-size: $spacing*6;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color:$color-text;
       
    }

    .biblio{

        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
    }

    .biblio:hover{

        transform: scale(1.1);
    }
}
